@keyframes slideInFromBelow {
    0% {
        transform: translate(-50%, 300%);
    }
    100% {
        transform: translate(-50%, -100%);
    }
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-500%);
    }
    100% {
        transform: translateX(0);
    }
}

body {
    background-image: url("resources/background.png");
}

* {
    font-family: 'Lato', sans-serif;
    text-align: center;
}

.links {
    margin-top: 70px;
}
.box {
    animation: 0.2s ease-out 0s 1 slideInFromBelow;    

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -100%);

    width: 650px;
    height: 350px;
    
    border-radius: 5px;
    background-color: #bababa;
    box-shadow: 0 0 50px rgb(90, 90, 90);

    opacity: 0.75;
    border: 1px solid rgb(143, 143, 143);
}

h1 {
    margin-top: 50px;
}

a {
    background-color: #d4d4d4;
    margin-left: 15px;
    margin-right: 15px;
    padding: 12px 18px;
    transition-duration: 0.5s;
    border: 0.5px;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    box-shadow: 0 0 5px grey;
}

p {
    margin: 39px 55px 0px 55px;
}

.back {
    animation: 0.1s ease-out 0s 1 slideInFromLeft;    

    text-decoration: none;
    color: black;
    font-size: 17px;
    position: fixed;
    left: 50px;
    top: 20px;
    border: 1px solid rgb(143, 143, 143);
}

a:hover {
    background-color: #339933;
    box-shadow: 0 0 10px #0a880a;
    /* border: 1px solid #339933; */
    background-color: #339933;
}