
body {
    /* background: url("resources/background.png"); */
    background-color: #131313;
    height: 1280px;
}

* {
    z-index: 2;
    font-family: 'JetBrains Mono', monospace;
}

#birds {
    padding: 0;
    z-index: -1;
}

.sheet {
    z-index: -2;
    position: fixed;
    width: 64%;
    height: 100%;
    max-width: 1240px;

    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    background-color: #252525;
    /* box-shadow: 0 0 20px #bababa; */
    box-shadow: 2px 2px 5px;
    /* opacity: 0.95; */
    /* border: 1px solid #555555; */
}

.header {
    /* animation: 0.2s ease-out 0s 1 slideInFromAbove; */

    position: relative;
    max-width: 1240px;
    text-align: center;
    color: #BBBBBB;
    /* text-shadow: 2px 2px 70px #8b8b8b; */
    letter-spacing: 0px;
    line-height: 30px;
    font-size: 48px;
    max-width: 1240px;
    
    padding: 20px;
    padding-bottom: 30px;
    width: 61%;
    margin: auto;
    margin-top: 20px;

}

.bar {
    /* animation: 0.4s ease-out 0s 1 slideInFromRight; */

    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 1240px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    height: 30px;
    width: 60%;
    max-width: 1200px;
    text-decoration: none;
    transition-duration: 0.9s;
}

.bar a p {
   color: #BBBBBB;
}

.link {
    width: 800px;
    height: 30px;
    margin: 0 15px 0 15px;
    text-decoration: none;
    border: 0px solid dimgrey;
    border-radius: 10px;
    background-color: #303030;
    box-shadow: 1px 1px 3px rgb(0, 0, 0);
}

.link p{
    color: white;
    text-decoration: none;
    text-align: center;  
    margin-top: 5px;
}

.container a {
    transition-duration: 0s;
    color: #BBBBBB;
    text-decoration: none;
    font-size: 19px;
}

.container {
    /* animation: 0.2s ease-out 0s 1 slideInFromBelow; */
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    max-width: 1100px;
    width: 60%;
    min-height: 90%;
}

.item {
    display: flex;
    flex-direction: column;
    
    height: 320px;
    width: 300px;
    margin-top: 25px;
    margin-bottom: 25px;

    background-color: #303030;
    border: 0px solid #cbcbcb;
    border-radius: 10px;
    box-shadow: 1px 1px 3px rgb(0, 0, 0);

    transition-duration: 0.9s;
}

.item p{
    margin: 9px 0 9px;
    transition-duration: 0s;
}

.item:hover , .bar .link:hover{
    transition-duration: 0.9s;
    box-shadow: 3px 3px 3px rgb(0, 0, 0);
}

.animated_gif {
    margin: 0 auto;
    width: 240px;
    margin-bottom: 20px;
    
    border: 4px solid;
    border-image-slice: 1;
    border-width: 5px;
    border-image-source: linear-gradient(to bottom right, #263859, #17223B);
    /* 339933 014d01 */
    box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

